{{#if note}}
  <h3>{{note.header}}</h3>
{{/if}}
{{#if note}}
  <p>{{note.content}}</p>
{{/if}}
<p>Note Id: {{id}}</p>
{{#if id}}
  <hr />
  <p>
    <a href="/notes/delete?id={{id}}">Delete</a>
    |
    <a href="/notes/edit?id={{id}}">Edit</a>
  </p>
{{/if}}